<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Jane Watson - KBAI{% endblock %}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>

<div class="fixed top-0 left-0 w-1/4 bottom-0 px-8 py-8 bg-slate-50 overflow-y-scroll">
    <a class="hover:text-blue-700" href="{{ url_for('index') }}">
        <h1 class="text-3xl font-bold">Jane Watson</h1>
        <h2 class="text-xl font-bold">KBAI TA powered by AI</h2>
    </a>
    <p class="my-2"><a class="hover:text-blue-700" href="{{ url_for('index') }}">Search</a></p>
    {% for module in modules %}
        <p class="my-2"><a class="text-neutral-700 hover:text-blue-700" href="{{ url_for('module', module_number=loop.index) }}">{{ loop.index }}: {{ module }}</a></p>
    {% endfor %}

</div>
<div class="fixed top-0 left-1/4 w-3/4 bottom-0 px-16 py-8 overflow-y-scroll">
    {% block content %}{% endblock %}
</div>

</body>
</html>